In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data.csv")
df = df.filter(items=['buy_ts', 'uid', 'revenue'])
df_june = df.loc[df['buy_ts'].str.find(".06.2016") != -1]
unique_uids = df_june.uid.unique()

print("June", len(unique_uids))

June 3509

/home/almaz/Рабочий стол/work/emen/venv/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (5,6,7,8) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
months = {
    1: "Jan",
    2: "Feb",
    3: "Mar",
    4: "Apr",
    5: "May",
    6: "Jun",
    7: "Jul",
    8: "Aug",
    9: "Sep",
    10: "Oct",
    11: "Nov",
    12: "Dec"
}

In [4]:
m = 6
y = 2016

month = 6
year = 2016

for j in range(12):
    df_unique = df.loc[df['buy_ts'].str.find(f".{m:02}.{y}") != -1]
    unique_uids = df_unique.uid.unique()
    month = m
    year = y

    print(f"STARTING {months[m]} {y}")
    for i in range(13):
        df_month = df.loc[df['buy_ts'].str.find(f".{month:02}.{year}") != -1]
        df_month = df_month.loc[df_month['uid'].isin(unique_uids)]
        unique_uids = df_month.uid.unique()

        revenues = df_month.revenue.values
        
        sum_of_revenues = sum(revenues)

        print(f"{months[month]} {year} -", len(unique_uids), "-", sum_of_revenues)
        month += 1
        if month == 13:
            month = 1
            year += 1

    m += 1
    if m == 13:
        m = 1
        y += 1
    print("\n\n")

STARTING Jun 2016
Jun 2016 - 3509 - 15864.989999999976
Jul 2016 - 105 - 1710.5400000000018
Aug 2016 - 23 - 902.7200000000009
Sep 2016 - 15 - 2710.16
Oct 2016 - 14 - 3374.6500000000024
Nov 2016 - 13 - 2708.949999999998
Dec 2016 - 12 - 2476.2
Jan 2017 - 11 - 2052.8800000000015
Feb 2017 - 11 - 2284.6600000000017
Mar 2017 - 11 - 2178.1900000000014
Apr 2017 - 11 - 1651.87
May 2017 - 9 - 750.5900000000001
Jun 2017 - 0 - 0



STARTING Jul 2016
Jul 2016 - 3183 - 19509.889999999963
Aug 2016 - 100 - 1694.4599999999994
Sep 2016 - 26 - 3775.350000000002
Oct 2016 - 20 - 3779.5500000000025
Nov 2016 - 17 - 2750.0799999999977
Dec 2016 - 15 - 2616.069999999998
Jan 2017 - 13 - 2125.6000000000017
Feb 2017 - 13 - 2366.170000000003
Mar 2017 - 13 - 2239.1700000000014
Apr 2017 - 13 - 1745.98
May 2017 - 11 - 886.8400000000001
Jun 2017 - 0 - 0
Jul 2017 - 0 - 0



STARTING Aug 2016
Aug 2016 - 2384 - 13927.199999999993
Sep 2016 - 129 - 6341.139999999997
Oct 2016 - 42 - 4741.289999999994
Nov 2016 - 30 - 3698.089999999998
Dec 2016 - 26 - 3674.1700000000005
Jan 2017 - 23 - 2710.880000000002
Feb 2017 - 18 - 2696.3100000000036
Mar 2017 - 17 - 2729.2600000000025
Apr 2017 - 17 - 2292.050000000001
May 2017 - 14 - 960.3100000000002
Jun 2017 - 0 - 0
Jul 2017 - 0 - 0
Aug 2017 - 0 - 0



STARTING Sep 2016
Sep 2016 - 4321 - 29217.339999999647
Oct 2016 - 264 - 9676.439999999993
Nov 2016 - 67 - 5222.210000000004
Dec 2016 - 42 - 4612.260000000006
Jan 2017 - 34 - 3336.7900000000013
Feb 2017 - 25 - 3046.720000000003
Mar 2017 - 22 - 2879.5000000000036
Apr 2017 - 21 - 2670.1700000000014
May 2017 - 18 - 1073.9199999999996
Jun 2017 - 0 - 0
Jul 2017 - 0 - 0
Aug 2017 - 0 - 0
Sep 2017 - 0 - 0



STARTING Oct 2016
Oct 2016 - 7215 - 42814.35000000042
Nov 2016 - 398 - 8489.639999999992
Dec 2016 - 81 - 4936.310000000011
Jan 2017 - 48 - 3709.2900000000027
Feb 2017 - 33 - 3224.4500000000044
Mar 2017 - 25 - 2944.3900000000035
Apr 2017 - 23 - 2761.4600000000014
May 2017 - 19 - 1081.2499999999998
Jun 2017 - 0 - 0
Jul 2017 - 0 - 0
Aug 2017 - 0 - 0
Sep 2017 - 0 - 0
Oct 2017 - 0 - 0



STARTING Nov 2016
Nov 2016 - 6754 - 41991.7000000005
Dec 2016 - 394 - 16501.799999999992
Jan 2017 - 94 - 4904.670000000003
Feb 2017 - 51 - 5413.640000000001
Mar 2017 - 32 - 3521.2800000000025
Apr 2017 - 28 - 2977.2800000000016
May 2017 - 21 - 1103.61
Jun 2017 - 0 - 0
Jul 2017 - 0 - 0
Aug 2017 - 0 - 0
Sep 2017 - 0 - 0
Oct 2017 - 0 - 0
Nov 2017 - 0 - 0



STARTING Dec 2016
Dec 2016 - 7345 - 48415.88000000099
Jan 2017 - 338 - 6610.639999999997
Feb 2017 - 86 - 9250.719999999994
Mar 2017 - 45 - 8803.419999999987
Apr 2017 - 35 - 4298.199999999999
May 2017 - 28 - 2461.810000000002
Jun 2017 - 0 - 0
Jul 2017 - 0 - 0
Aug 2017 - 0 - 0
Sep 2017 - 0 - 0
Oct 2017 - 0 - 0
Nov 2017 - 0 - 0
Dec 2017 - 0 - 0



STARTING Jan 2017
Jan 2017 - 5786 - 29299.839999999767
Feb 2017 - 285 - 10843.189999999991
Mar 2017 - 71 - 9559.609999999991
Apr 2017 - 40 - 4396.0599999999995
May 2017 - 32 - 2568.8300000000027
Jun 2017 - 0 - 0
Jul 2017 - 0 - 0
Aug 2017 - 0 - 0
Sep 2017 - 0 - 0
Oct 2017 - 0 - 0
Nov 2017 - 0 - 0
Dec 2017 - 0 - 0
Jan 2018 - 0 - 0



STARTING Feb 2017
Feb 2017 - 6311 - 36151.969999999856
Mar 2017 - 302 - 11928.519999999971
Apr 2017 - 64 - 4738.24
May 2017 - 41 - 2867.1500000000033
Jun 2017 - 0 - 0
Jul 2017 - 0 - 0
Aug 2017 - 0 - 0
Sep 2017 - 0 - 0
Oct 2017 - 0 - 0
Nov 2017 - 0 - 0
Dec 2017 - 0 - 0
Jan 2018 - 0 - 0
Feb 2018 - 0 - 0



STARTING Mar 2017
Mar 2017 - 6098 - 38974.84000000007
Apr 2017 - 231 - 7074.4699999999975
May 2017 - 68 - 3708.270000000004
Jun 2017 - 0 - 0
Jul 2017 - 0 - 0
Aug 2017 - 0 - 0
Sep 2017 - 0 - 0
Oct 2017 - 0 - 0
Nov 2017 - 0 - 0
Dec 2017 - 0 - 0
Jan 2018 - 0 - 0
Feb 2018 - 0 - 0
Mar 2018 - 0 - 0



STARTING Apr 2017
Apr 2017 - 4011 - 24897.119999999843
May 2017 - 198 - 5540.339999999988
Jun 2017 - 0 - 0
Jul 2017 - 0 - 0
Aug 2017 - 0 - 0
Sep 2017 - 0 - 0
Oct 2017 - 0 - 0
Nov 2017 - 0 - 0
Dec 2017 - 0 - 0
Jan 2018 - 0 - 0
Feb 2018 - 0 - 0
Mar 2018 - 0 - 0
Apr 2018 - 0 - 0



STARTING May 2017
May 2017 - 5164 - 29717.659999999654
Jun 2017 - 0 - 0
Jul 2017 - 0 - 0
Aug 2017 - 0 - 0
Sep 2017 - 0 - 0
Oct 2017 - 0 - 0
Nov 2017 - 0 - 0
Dec 2017 - 0 - 0
Jan 2018 - 0 - 0
Feb 2018 - 0 - 0
Mar 2018 - 0 - 0
Apr 2018 - 0 - 0
May 2018 - 0 - 0